/* Thiết lập màu nền và phông chữ chung cho trang web */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Tiêu đề */
h1 {
    margin: 0;
    font-size: 28px;
}

/* Main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Image Container */
.image-container {
    text-align: center;
}

img#img {
    max-width: 100%;
}

/* Upload Section */
.upload-section {
    text-align: center;
    margin-top: 20px;
}

.custom-file-upload {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.custom-file-upload:hover {
    background-color: #2980b9;
}

#image-container1 {
    margin-top: 20px;
}

img#image-preview {
    max-width: 100%;
}

input[type="text"] {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#copy-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copy-button:hover {
    background-color: #219a52;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
